[flake8]
# 忽略的错误码（你可以自由增删）
ignore =
    # 行长度太长
    E501,
    # 导入未使用
    F401,
    # 运算符在前（Black 自动格式化冲突）
    W503

    ; # 行长度太长
    ; E501,
    ; # 行尾空白
    ; W291, W292, W293,
    ; # 未使用的变量（导入包）
    ; F401,
    ; # 缺少文档字符串
    ; D100, D101, D102, D103, D104, D105,
    ; # 空格、格式类
    ; E203, E221, E222, E226, E231, E241, E251,
    ; # 换行、空行
    ; E302, E305, W503

# 最大行长度
max-line-length = 188

# 排除哪些文件夹 不检查
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    logs,
    data,
    dist,
    build,
    *.egg-info