# ===== 核心量化（已锁稳定组合）=====
vectorbt==0.25.0
numpy==1.24.4
numba==0.57.1
llvmlite==0.40.1
pandas==1.5.3
scipy==1.10.1
plotly==5.11.0
matplotlib==3.7.2

# ===== 数据源 =====
akshare
yfinance
baostock==0.9.1
duckdb

# ===== Web / API =====
fastapi==0.136.1
fastapi-cors
uvicorn
pydantic==2.13.3
python-multipart
python-dotenv
websockets
docker
uvicorn[standard]
paramiko

# ===== Jupyter ====-
jupyterlab==4.5.7
jupyterlab-language-pack-zh-CN
jupyter_server==2.17.0
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyter-ai
jupyter-lsp==2.3.1
python-lsp-server[all]==1.14.0

# ===== 工具 =====
requests==2.33.1
tqdm==4.67.3
timeout-decorator==0.5.0
loguru==0.7.3
nanoid==2.0.0
psutil

# ===== 可视化 / UI =====
streamlit==1.56.0

# ===== 文件处理 =====
openpyxl